* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    outline: none;
    

}
/* #5A458C  mor tonu*/
/* #dcd6f7  gri tonu*/

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    height: 2000px;
    
}


.nav-item {
    padding: 1rem;
    margin-left: 1rem;
}


#navbarSupportedContent .nav-item .nav-link {
    font-weight: 700;
    display: inline-block;
    line-height: 2rem;
}

#navbarSupportedContent .nav-item .nav-link:hover {
    border-bottom: 2px solid #5A458C;
    color: #5A458C;
    
}

#navbarSupportedContent ul #social a:hover {
    
    opacity: 0.6;
    
}

.slider {
    position: relative;
    background-image: url(images/bg-first.jpg);
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgba(0, 0, 0, 0.8);
    
}

.slider .container {
    position: relative;
    z-index: 1;
    height: 550px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container .row .col-12.first {
    color: #ffffff;
    font-size: 17px;
    margin-bottom: 5rem;
    text-transform: uppercase;
}
.container .row .col-12.second {
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0.5px;
    font-weight: 700;
    margin-bottom: 2rem;
}
.container .row .col-12.third {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 3rem;
    
}
.container .row .col-12.fourth a #button1 {
    width: 200px;
    height: 58px;
    color: #5A458C;
    padding: 1rem 3rem;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 30px;
    transition:  0.35s ease-in-out;
    
}
.container .row .col-12.fourth a #button1:hover {
    width: 300px;
    height: 65px;
    font-size: 1.2rem;
}

section .container {
    width: 100%;
    height: auto;
}

.card {
    border: 2px solid #5A458C;
}

.card .card-img-top {
    width: 100%;
    height: auto;
}

/* section {
    margin-top: 1rem;
    background-color: #dcd6f7 ;
} */
section .row-2 {
    text-align: center;
    margin-top: 2rem;
}

section .row-2 .col-12 a {
    color: #ffffff;
    background-color: #5A458C;
    border: 2px solid #5A458C;
    padding: 1rem;
    border-radius: 27px;
    display: inline-block;
    text-decoration: none;
    transition: 0.30s ease-in-out;
}

section .row-2 .col-12 a:hover {
    background-color: #ffffff;
    color: #5A458C;
    font-size: 1rem;
}

main .container-fluid {
    width: 100%;
    height: 200px;
    background-color: aqua;
}

